<launch>

  <arg name="visualize" default="false" />
  <arg name="record" default="false" />
  <arg name="image_topic" default="image" />
  <arg name="image_subtopic" default="image_color" />

  <group ns="aruco_detection">
	  <node pkg="aruco_detection" name="aruco_detection_node" type="aruco_detection_node" output="screen" >
	    <remap from="/image" to="$(arg image_topic)" />
	    <param name="image_topic_name" value="$(arg image_subtopic)" />
	  
	    <rosparam command="load" ns="board/table_grid" file="$(find aruco_detection)/config/boards/table_grid.yml" />
	    <rosparam command="load" ns="board/back_grid" file="$(find aruco_detection)/config/boards/back_grid.yml" />
	    <!-- <rosparam command="load" ns="board/big_grid" file="$(find aruco_detection)/config/boards/big_grid.yml" /> -->
	    <rosparam command="load" ns="board/far_back_grid" file="$(find aruco_detection)/config/boards/far_back_grid.yml" />
	    <!-- <rosparam command="load" ns="board/fridge_column_grid" file="$(find aruco_detection)/config/boards/fridge_column_grid.yml" /> -->
	    
	    <param name="image_is_rectified" value="false" />
	    <param name="pose_ref_frame" value="robot_base" />
	  </node>
	  
	  <node if="$(arg visualize)" name="aruco_detection_viz" pkg="image_view" type="image_view">
	  	<remap from="image" to="aruco_detection_node/result" />
	  </node>
	  <node if="$(arg record)" name="aruco_detection_rec" pkg="image_view" type="video_recorder">
	  	<remap from="image" to="aruco_detection_node/result" />
	  </node>
  </group>

</launch>
